In [38]:
import pandas as pd

In [2]:
%load_ext sql

In [3]:
%run ./dbcon.ipynb

In [4]:
con = lwa_prod()

In [5]:
%sql $con

## Current Weighted Average Price (all products, all warehouses)

In [160]:
%%sql a <<
    SET block_encryption_mode = 'aes-256-cbc';
    SET @key_str = CHAR(NDA);
    SET @init_vector = CHAR(NDA);
select
    p.productID,
    p.productName,
    CONVERT(AES_DECRYPT(FROM_BASE64(wi.warehouseProductPrice), @key_str, @init_vector) USING utf8) as 'wa_price',
    w.currencyCD,
    case when (
        select
            cer.exchangeRate
        from
            currencyExchangeRate cer
        where
            cer.fromCurrencyCD = w.currencyCD
            and cer.toCurrencyCD = 'USD'
        order by
            fxDate desc
        limit 1
    ) is null then 1 else
    (
        select
            cer.exchangeRate
        from
            currencyExchangeRate cer
        where
            cer.fromCurrencyCD = w.currencyCD
            and cer.toCurrencyCD = 'USD'
        order by
            fxDate desc
        limit 1
    ) end as 'fxRate',
    SUM(wbi.freeStock) as 'stock'
from
    warehouseInventory wi
inner join
    product p on p.productID = wi.productID
inner join
    warehouse w on w.warehouseID = wi.warehouseID
inner join
    warehouseBatchInventory wbi on wbi.warehouseInventoryID = wi.warehouseInventoryID
group by
    wi.productID, wi.warehouseID
having
    stock != 0
order by
    p.productID desc

 * mysql+mysqlconnector://service_ro:***@lwa-prod.cluster-ro-cy2qridvpimm.ca-central-1.rds.amazonaws.com:3306/lwa_prod_db
0 rows affected.
0 rows affected.
0 rows affected.
744 rows affected.
Returning data to local variable a

In [161]:
df = pd.DataFrame(a)

In [164]:
df['wa_price'] = df.wa_price.astype(float)
df['fxRate'] = df.fxRate.astype(float)
df['stock'] = df.stock.astype(float)

In [167]:
df['price_usd'] = df['wa_price'] * df['fxRate']

In [166]:
def weighted_average(dataframe, value, weight):
    val = dataframe[value]
    wt = dataframe[weight]
    return (val * wt).sum() / wt.sum()

In [176]:
s1 = df.groupby('productName').apply(weighted_average,
                                     'price_usd', 'stock')

In [196]:
df1 = pd.DataFrame(s1)

In [200]:
%%sql p <<
SELECT p.productID, p.productName
FROM product p

 * mysql+mysqlconnector://service_ro:***@lwa-prod.cluster-ro-cy2qridvpimm.ca-central-1.rds.amazonaws.com:3306/lwa_prod_db
1334 rows affected.
Returning data to local variable p

In [203]:
df2 = pd.DataFrame(p)

In [204]:
df3 = df1.merge(df2, on='productName', how='left')

In [208]:
df3 = df3.loc[:, ["productID","productName",0]].rename(columns={0:'wa_price'})

In [209]:
df3

     productID                                        productName    wa_price
0         1101                    3 Ply Surgical Mask (20 Pieces)    1.000000
1         1327                                     3D COG 21G90-L   78.599000
2          800                                            ALIDYA™   81.368568
3          169                                           AQUALYX®  168.997341
4         1310                           ARGIPEEL EXFOLIATING GEL   43.926400
..         ...                                                ...         ...
340        829                   ZO® RETINOL SKIN BRIGHTENER 0.5%   61.000000
341        828                     ZO® RETINOL SKIN BRIGHTENER 1%   71.440000
342        811                                  ZO® SULFUR MASQUE   28.350000
343        832                       ZO® WRINKLE + TEXTURE REPAIR   81.650000
344       1269   Saxenda® 6 mg/ml (liraglutide) Injection 3 mg...    1.010000

[345 rows x 3 columns]